/********** Body **********/
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
/********** Base styles **********/
*{
  box-sizing: border-box; 
  padding-top:  2px 2px 2px 2px;
}
/********** H1 - Menu **********/
h1 {
  margin: 40px 10px 40px 0;
  text-align: center;  
  font-size: 1.75em;
}
/********** Paragraph TAG **********/
p {  
  border: 1px solid black;
  background-color: #9DA1A5;
  margin: 0 10px 20px 10px;
  padding: 10px;
  padding-top: 50px;
  font-size: 1em;
  color: black; 
}
/********** Small Box Layout **********/
.layout{
  border: 1px solid black;
  padding-top: 4px;
  text-align: center;
  margin: 0 10px 20px 10px;
  float: right;
  height: 30px;
  width: 140px;
  font-size: 1.25em;
  font-weight: bolder; 
}
/********** Menu Items **********/
#p1 {
  background-color: #E99089;
 }
#p2 {
  background-color: #D14031;
  color: white;
}
#p3 {
  background-color: #ECD197;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Medium devices only (Desktop) **********/
@media (min-width: 992px) {
  .col-md-4 {
    float: left;    
  }
  .col-md-4 {
    width: 33.33%;
  }
}
/********** Small devices only (Tablet) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6, .col-sm-12 {
    float: left;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }